force-app/main/default/flows/Drug_Product_Patent_Expiry_Flag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  Flow: Drug_Product_Patent_Expiry_Flag (Record-Triggered, After Save)
  Object: Drug_Product__c
  Trigger: CreateAndUpdate — fires when Patent_Expiration__c is set on
           a non-Discontinued product that has not yet been flagged.

  Execution path (connected via <connector> references):
    START
      → Decision_Within18Months  (is expiry <= TODAY + 548 days?)
          [Yes] → Update_PatentAlert  (set Patent_Expiry_Alert__c = true)
                → Action_RunValidation (invoke rules engine)
                → Decision_HasViolations (any blocking violations?)
                    [Yes] → Create_ChatterPost (post summary to record feed)
                    [No]  → END
          [No]  → END (silent exit)

  NOTE: Patent_Expiry_Alert__c = false is an entry condition so the flow
        does not re-trigger after it sets the flag to true.
-->
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>After-save record-triggered flow on Drug_Product__c. Fires when a patent expiration date is set on a non-discontinued product that has not yet been flagged. Checks whether the expiry falls within 18 months, sets Patent_Expiry_Alert__c = true, then calls the rules engine (DrugProductValidationFlowAction) and posts a Chatter notification if blocking validation violations exist.</description>
    <interviewLabel>Drug Product Patent Expiry Flag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Drug Product Patent Expiry Flag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Within18Months</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patent_Expiration__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Regulatory_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Discontinued</stringValue>
            </value>
        </filters>
        <filters>
            <field>Patent_Expiry_Alert__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Drug_Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>

    <!-- ─────────────────────────────────────────────────────────────
         APEX ACTION (grouped together)
         ───────────────────────────────────────────────────────────── -->
    <actionCalls>
        <name>Action_RunValidation</name>
        <label>Run Validation Check</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <actionName>DrugProductValidationFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_HasViolations</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varHasViolations</assignToReference>
            <name>hasViolations</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varViolationSummary</assignToReference>
            <name>violationSummary</name>
        </outputParameters>
    </actionCalls>

    <!-- ─────────────────────────────────────────────────────────────
         DECISIONS (all grouped together)
         ───────────────────────────────────────────────────────────── -->
    <decisions>
        <name>Decision_Within18Months</name>
        <label>Patent Expiry Within 18 Months?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Expiry is more than 18 months away — exit</defaultConnectorLabel>
        <rules>
            <name>Outcome_Within18Months</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patent_Expiration__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formTodayPlus548</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PatentAlert</targetReference>
            </connector>
            <label>Within 18 months</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_HasViolations</name>
        <label>Has Blocking Validation Violations?</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <defaultConnectorLabel>No violations — flow ends</defaultConnectorLabel>
        <rules>
            <name>Outcome_HasViolations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHasViolations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ChatterPost</targetReference>
            </connector>
            <label>Has violations</label>
        </rules>
    </decisions>

    <!-- ─────────────────────────────────────────────────────────────
         FORMULAS (all grouped together)
         ───────────────────────────────────────────────────────────── -->
    <formulas>
        <name>formTodayPlus548</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 548</expression>
    </formulas>
    <formulas>
        <name>formChatterMessage</name>
        <dataType>String</dataType>
        <expression>"Patent Expiry Alert: This drug product has a patent expiring within 18 months AND has active validation violations: " &amp; {!varViolationSummary}</expression>
    </formulas>

    <!-- ─────────────────────────────────────────────────────────────
         RECORD CREATES (all grouped together)
         Creates a FeedItem to post the violation summary to Chatter.
         ───────────────────────────────────────────────────────────── -->
    <recordCreates>
        <name>Create_ChatterPost</name>
        <label>Post Validation Alert to Chatter</label>
        <locationX>50</locationX>
        <locationY>614</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>formChatterMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>TextPost</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>

    <!-- ─────────────────────────────────────────────────────────────
         RECORD UPDATES (all grouped together)
         ───────────────────────────────────────────────────────────── -->
    <recordUpdates>
        <name>Update_PatentAlert</name>
        <label>Set Patent Expiry Alert Flag</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>Action_RunValidation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Patent_Expiry_Alert__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Drug_Product__c</object>
    </recordUpdates>

    <!-- ─────────────────────────────────────────────────────────────
         VARIABLES (all grouped together)
         ───────────────────────────────────────────────────────────── -->
    <variables>
        <name>varHasViolations</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varViolationSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

</Flow>
